body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;

    overflow-x: hidden; /* Prevent horizontal overflow */
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure the container takes full width */
    position: relative;
}

.title {
    color: #801B4D;
    font-size: 4.5rem;
    margin-bottom: 5vh; /* Adjust the space between title and buttons */
    margin-top: 30vh;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.btn {
    background-color: #801B4D;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex: 1 1 45%; /* Allow buttons to take 45% of the container's width */
    max-width: 200px; /* Max width of buttons to prevent overflow */
}

.btn img {
    width: 1.5rem;
    height: 1.5rem;
}

.btn:hover {
    background-color: #501030;
}

.disabled {
    background-color: #555555; /* Grey out the button */
    cursor: not-allowed; /* Change cursor to indicate it's disabled */
}

/* Media Query for screens less than 768px wide */
@media (max-width: 768px) {
    .title {
        font-size: 3rem;
        margin-bottom: 4vh;
    }

    .btn {
        font-size: 1rem;
        padding: 0.75rem;
        max-width: 150px;
    }

    .btn img {
        width: 1rem;
        height: 1rem;
    }
}

/* Media Query for screens less than 480px wide */
@media (max-width: 480px) {
    .title {
        font-size: 2.5rem;
        margin-bottom: 3vh;
    }

    .btn {
        font-size: 0.875rem;
        padding: 0.5rem;
        max-width: 120px;
    }

    .btn img {
        width: 0.875rem;
        height: 0.875rem;
    }
}
