:root {
    --mainTheme: #ff999a;
    --secondaryTheme: #ffffff;
    --themeButtonHover: #5c1639;
    --color1: #13EC64;
    --color2: #EC139B;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.description-special{

}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.title-container {
    display: flex;
    flex-direction: column; /* Stack title and description */
    align-items: center; /* Center the title-banner */
    justify-content: center;
    margin-top: 25vh;
    margin-left: 2vw;
    width: 80%;
    max-width: 1000px;
}

.title-banner {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the entire title-banner */
    flex-direction: row;
    width: 100%; /* Ensure the banner takes full width for proper centering */
}

.title {
    color: var(--mainTheme);
    font-size: 7rem;
    margin: 0;
    text-align: left; /* Ensure title is left-aligned */
}

.logo {
    width: 10rem;
    height: auto;
}

.description {
    font-size: 2.5rem;
    color: var(--secondaryTheme);
    text-align: center; /* Center align description below the title-banner */
    margin-right: 2rem;
    margin-top:0;
    margin-bottom: 0;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin-top: 10vh;
}

.btn {
    background-color: var(--mainTheme);
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    /* Remove fixed width */
    width: auto; /* Let the width adjust to the content */
    min-width: 150px; /* Optional: Set a minimum width if desired */
}


.btn img {
    width: 1.5rem;
    height: 1.5rem;
}

.btn-nba:hover {
    background-color: #a75916;
}

.btn-nba {
    background-color: #d5721b;
}

.btn-nfl{
    background-color: #56350e;
    cursor: not-allowed;
}

.btn-nfl:hover{
    background-color: #3d260a;
}

.btn-mlb{
    background-color: #c61a1a;
    cursor: not-allowed;
}

.btn-mlb:hover{
    background-color: #9f1414;
}

.btn-nhl{
    background-color: #000000;
    cursor: not-allowed;
}

.btn-nhl{
    background-color: #000000;
    cursor: not-allowed;
}


@media (max-width: 768px) {
    .title {
        font-size: 15vw;
    }

    .title-container{
        margin-top: 20vh;
    }

    .description {
        font-size: 5vw;
    }

    .btn {
        font-size: 1rem;
        padding: 0.75rem;
        width: 250px;
        min-width: 150px; /* Optional: Set a minimum width if desired */
    }

    .btn img {
        width: 1rem;
        height: 1rem;
    }

    .logo {
        width: 30%;
        height: auto;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        width: auto; /* Let the width adjust to the content */
        min-width: 150px; /* Optional: Set a minimum width if desired */
    
    }
}
