<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ballnoll</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/help.css')}}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L8GT35N012"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-L8GT35N012');
    </script>
</head>
<body>
    <div class="container">
        <div class="glossary-title">
            <h1 class="page-title">Glossary</h1>
        </div>
        <div class="glossary-content">
            <div class="one-entry">
                <h1 class="entry-title">PTS: </h1>
                <p class="entry-definition">points</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">AST: </h1>
                <p class="entry-definition">assists</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">TRB: </h1>
                <p class="entry-definition">total rebounds</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">ORB: </h1>
                <p class="entry-definition">offensive rebounds</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">DRB: </h1>
                <p class="entry-definition">defensive rebounds</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">FG%: </h1>
                <p class="entry-definition">field goal percentage</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">FG: </h1>
                <p class="entry-definition">field goals made</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">FGA: </h1>
                <p class="entry-definition">field goals attempted</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">FG%: </h1>
                <p class="entry-definition">field goal percentage</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">eFG%: </h1>
                <p class="entry-definition">effective field goal percentage</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">3P: </h1>
                <p class="entry-definition">3-pointers made</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">3PA: </h1>
                <p class="entry-definition">3-pointers attempted</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">3P%: </h1>
                <p class="entry-definition">3-pointer percentage</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">2P: </h1>
                <p class="entry-definition">2-pointers made</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">2PA: </h1>
                <p class="entry-definition">2-pointers attempted</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">2P%: </h1>
                <p class="entry-definition">2-pointer percentage</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">STL: </h1>
                <p class="entry-definition">steals</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">BLK: </h1>
                <p class="entry-definition">blocks</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">FT: </h1>
                <p class="entry-definition">free throws made</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">FTA: </h1>
                <p class="entry-definition">free throw attempted</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">FT%: </h1>
                <p class="entry-definition">free throw percentage</p>
            </div>
            <div class="one-entry">
                <h1 class="entry-title">MP: </h1>
                <p class="entry-definition">minutes played</p>
            </div>



            
        </div>
    </div>
    
</body>
</html>
