<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ballnoll</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L8GT35N012"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-L8GT35N012');
    </script>
</head>
<body>
    <div class="container index-container">
        <div class="title-container">
            <div class="title-banner">
                <h1 class="title index-title">
                    ballnoll
                </h1>
                <img src="{{ url_for('static', filename='img/ballnoll-logos/ballnoll-dark.png') }}" alt="Logo" class="main-logo"> <!-- Logo next to title -->
            </div>
            <p class="description">elevate your <span class=description-special>ball</span> knowledge</p> <!-- Description below the title -->
        </div>
        
        <div class="buttons index-buttons">
            <a href="nba" >
                <button class="btn btn-nba">
                    <img src="{{ url_for('static', filename='img/icons/basketball.png') }}" alt="Basketball Icon">
                    NBA
                </button>
                
            </a>
            <button class="btn btn-nfl" disabled>
                <img src="{{ url_for('static', filename='img/icons/football.png') }}" alt="Football Icon">
                NFL (coming soon)
            </button>
            <button class="btn btn-mlb" disabled>
                <img src="{{ url_for('static', filename='img/icons/baseball.png') }}" alt="Baseball Icon">
                MLB (coming soon)
            </button>
            <button class="btn btn-nhl" disabled>
                <img src="{{ url_for('static', filename='img/icons/hockey.png') }}" alt="Hockey Icon">
                NHL (coming soon)
            </button>
        </div>
    </div>
</body>
</html>
