<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>head2head</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L8GT35N012"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-L8GT35N012');
    </script>
</head>
<body>
    <div class="container index-container">
        <h1 class="title index-title">head2head</h1>
        <div class="buttons index-buttons">
            <a href="nba" class="btn"> <!-- NBA button remains functional -->
                <img src="{{ url_for('static', filename='img/icons/basketball.png') }}" alt="Basketball Icon">
                NBA
            </a>
            <button class="btn disabled" disabled> <!-- Other buttons are greyed out and disabled -->
                <img src="{{ url_for('static', filename='img/icons/football.png') }}" alt="Football Icon">
                NFL
            </button>
            <button class="btn disabled" disabled>
                <img src="{{ url_for('static', filename='img/icons/baseball.png') }}" alt="Baseball Icon">
                MLB
            </button>
            <button class="btn disabled" disabled>
                <img src="{{ url_for('static', filename='img/icons/hockey.png') }}" alt="Hockey Icon">
                NHL
            </button>
        </div>
    </div>
</body>
</html>
